# Environnement virtuels
venv/
myproject-env/

# Modèles (gérés par Git LFS)
# models/ -> inclus via LFS

# Datasets
data/email_dataset.csv
data/phishing_dataset.csv

# Build PyPI
dist/
build/
*.egg-info/

# Logs
logs/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Système
.DS_Store
